.accordion-horizontal .accordion-panel, .accordion-horizontal .accordion-body {
    float: left;
}

.accordion-horizontal .accordion-header {
    float: left;
    width: 55px;
}

.accordion-horizontal .panel-title {

    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.datepicker th,td {
    text-align: center;
    padding: 2px;
    cursor: default;
}

.datepicker .dates:hover {
    background-color: rgb(238, 238, 238);
}

.datepicker .current-date {
    border: 1px solid rgb(48, 115, 171);
    -ms-border-radius: 45%;
    border-radius: 45%;
}