<div class="row">
    <div class="col-lg-4 col-lg-push-4">
        <p>
            Model date: {{main.datepicker}}
        </p>
        <div class="datepicker" uca-ng-model="main.datepicker"></div>
        <div class="datepicker" style="margin-top: 15px;"></div>
    </div>
</div>
